Change Request - Misinterpretation of INIT re-transmission behaviour

Our understanding is that RFC4960 specifies the following process:

The Upper Layer Protocol (ULP) (on host A) requests an SCTP association to host B’s (single) IP address (destination transport address) via the ASSOCIATE primitive to its local previously initialised SCTP instance. The ASSOCIATE primitive requests SCTP to set up an SCTP association to a single destination transport address (Note: the ASSOCIATE primitive request can only contain a single destination transport address). The ASSOCIATE primitive response to the ULP may include a list of further IP addresses which are learned during the SCTP association establishment phase.
 
The ASSOCIATE primitive request triggers the sending of an INIT chunk. If no response to the INIT is received before timer T1-init expires, then the INIT is re-sent to the same destination transport address, continuing until Max.Init.Retansmits limit has been reached. At this point the failure is reported to the Upper layer protocol, which may then send another ASSOCIATE primitive request containing an alternative destination transport address.

We believe this is the correct way of interpreting the RFC. However, there appear to be some who have assumed that the ASSOCIATE primitive request can be provided with (say) two (or more) destination addresses, and if the timer awaiting a response to the first INIT chunk expires then it re-tries by retransmitting the INIT chunk to the other destination address.

Supporting quotes for our interpretation:

RFC 4960 Section 10.1

B) Associate

      Format: ASSOCIATE(local SCTP instance name,
              destination transport addr, outbound stream count)
      -> association id [,destination transport addr list]
            [,outbound stream count]

and

•	destination transport addr - specified as one of the transport addresses of the peer endpoint with  which the association is to be established.


RFC 4960 Section 4 Note 2

If the T1-init timer expires, the endpoint MUST retransmit INIT
and restart the T1-init timer without changing state.  This MUST
be repeated up to 'Max.Init.Retransmits' times.  After that, the
endpoint MUST abort the initialization process and report the
error to the SCTP user.


The change request for RFC 4960 is to clarify that this interpretation is the correct, and only possible one.


Please note that Section 10 is informational only. You are right, the `ASSOCIATE` primitive only has a single address parameter. However, if you consider the SCTP Socket API, [RFC 6458](https://tools.ietf.org/html/rfc6458#section-9.9) defines a function `sctp_connectx()`, which takes multiple address parameters to allow an SCTP stack to retransmit packets containing INIT chunks to multiple peer addresses. This allows an SCTP stack to use multiple paths already during the association setup and not only after it has been established.

The SCTP kernel implementations of FreeBSD, Linux, and Solaris implementation support `sctp_connectx()` and use all provided addresses already for association setup.

Unfortunately, the SCTP 4960 errata document is already in the RFC editor queue. If not, I would have change the ASSOCIATE primitive to take an address list to make it clearer, that this is allowed. Possibly, we can fix that in RF 4960bis, even if not described in the errata document since it is in the Socket API and implemented multiple times.

I agree that it could be improved but I don't think it's so important. I'm sure that there are many other  places in Section 10 which could be improved but we should be careful as it may lead to serious changes in that section and a longer process for RFCbis. For me it's enough that the section clearly states that it's informative, just a guideline and doesn't have normative text.

Many thanks for the responses. BT have some further comments

The use of SCTP socket API does not mesh with RFC4960. Implementations of SCTP socket API use SCTP in a way that is not documented in RFC4960. This causes ambiguity which results in a reluctance to connect with other users. The RFC needs to be updated describe how implementations actually work.

In earlier email exchanges Micheal Tuexen provided a response detailing a use of socket API (see below).

We agree with the first sentence ‘Timers and counters are per path’. However, we believe INITs are retransmitted to the same destination transport address and NOT an alternate as shown in Michael Tuexen’s case 2 below.
In RFC4960 Section 4 the text describing behaviour upon expiry of T1-init is as follows:

“If the T1-init timer expires, the endpoint MUST retransmit INIT and restart the T1-init timer without changing state. This MUST be repeated up to 'Max.Init.Retransmits' times. After that, the endpoint MUST abort the initialization process and report the error to the SCTP user.”


The key text here is ‘restart the T1-init timer. If timers are per path then the timer can only be restarted if the same path is used. As soon as the destination transport address is changed a new instance of T1-init comes into play. 

Case 2 is currently not documented and will need a substantial change to RFC4960, particularly how the transport layer determines that it should transmit the INIT to alternate IP addresses. The RFC would benefit in separating the INIT / COOKIE ECHO timer rules from the DATA chunk i.e. having their own rules. 

---------------------
Received from Michael Tuexen:

Timers and counters are per path. Whether multiple addresses are used, depends on how the association was initiated. Assume the server has three IP addresses A, B, and C.
Assume furthermore, RTO.Initial = 1 second, RTO.Max = 60 seconds, Max.Init.Retransmits = 8.
Case 1: The client only provides a single address when initiate the association, for example by calling connect(A).
You would observe:
  0 INIT towards A
  1 INIT towards A
  3 INIT towards A
  7 INIT towards A
 15 INIT towards A
 31 INIT towards A
 63 INIT towards A
123 INIT towards A
183 INIT towards A

Same for COOKIE-ECHO retransmissions, even if the server provides A, B, and C in the INIT-ACK, because B and C would not be verified.

Case 2: The client provides all three addresses when initiating the association, for example by calling sctp_connectx(A,B,C).
  0 INIT towards A
  1 INIT towards B
  2 INIT towards C
  3 INIT towards A
  5 INIT towards B
  7 INIT towards C
  9 INIT towards A
 13 INIT towards B
 17 INIT towards C

Same the COOKIE-ECHO retransmissions. 




> On Feb 11, 2019, at 8:51 AM, PBWilks <notifications@github.com> wrote:
> 
> Many thanks for the responses. BT have some further comments
> 
> The use of SCTP socket API does not mesh with RFC4960. Implementations of SCTP socket API use SCTP in a way that is not documented in RFC4960. This causes ambiguity which results in a reluctance to connect with other users. The RFC needs to be updated describe how implementations actually work.
> 
> In earlier email exchanges Micheal Tuexen provided a response detailing a use of socket API (see below).
> 
> We agree with the first sentence ‘Timers and counters are per path’. However, we believe INITs are retransmitted to the same destination transport address and NOT an alternate as shown in Michael Tuexen’s case 2 below.
> In RFC4960 Section 4 the text describing behaviour upon expiry of T1-init is as follows:
> 
> “If the T1-init timer expires, the endpoint MUST retransmit INIT and restart the T1-init timer without changing state. This MUST be repeated up to 'Max.Init.Retransmits' times. After that, the endpoint MUST abort the initialization process and report the error to the SCTP user.”
> 
> The key text here is ‘restart the T1-init timer. If timers are per path then the timer can only be restarted if the same path is used. As soon as the destination transport address is changed a new instance of T1-init comes into play.
> 

Timers in general are per-path, but the T1-init timer *does not have to be*. In the case
of data, yes, its definitely per-path.

But for the T1 I think thats an implementation detail.





> Case 2 is currently not documented and will need a substantial change to RFC4960, particularly how the transport layer determines that it should transmit the INIT to alternate IP addresses. The RFC would benefit in separating the INIT / COOKIE ECHO timer rules from the DATA chunk i.e. having their own rules.

Why? 

An RFC does not have to document every detail. Yes I think we
should retransmit Cookies possibly to alternate paths, there could be
issues with this as well since you are sending to an unconfirmed address possibly.

But this is again I think an implementation detail. Changes to the RFC are not needed IMO.

R

> 
> Received from Michael Tuexen:
> 
> Timers and counters are per path.
> Whether multiple addresses are used, depends on how the association was initiated. Assume the server has three IP addresses A, B, and C.
> Assume furthermore, RTO.Initial = 1 second, RTO.Max = 60 seconds, Max.Init.Retransmits = 8.
> Case 1: The client only provides a single address when initiate the association, for example by calling connect(A).
> You would observe:
> 0 INIT towards A
> 1 INIT towards A
> 3 INIT towards A
> 7 INIT towards A
> 15 INIT towards A
> 31 INIT towards A
> 63 INIT towards A
> 123 INIT towards A
> 183 INIT towards A
> 
> Same for COOKIE-ECHO retransmissions, even if the server provides A, B, and C in the INIT-ACK, because B and C would not be verified.
> 
> Case 2: The client provides all three addresses when initiating the association, for example by calling sctp_connectx(A,B,C).
> 0 INIT towards A
> 1 INIT towards B
> 2 INIT towards C
> 3 INIT towards A
> 5 INIT towards B
> 7 INIT towards C
> 9 INIT towards A
> 13 INIT towards B
> 17 INIT towards C
> 
> Same the COOKIE-ECHO retransmissions.
> 
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub, or mute the thread.
> 

------
Randall Stewart
rrs@netflix.com





Firstly, I think it should be made clearer that Section 10 is Informational. In my view this is somewhat hidden. Para 2 says “ The primitives and notifications described in this section should be used as a guideline for implementing SCTP…” – for some readers it may not be clear that the entire section is Informational (are there other topics in the section?). I suggest altering the Section’s title “Interface with Upper Layer” -> “Informational Appendix: Interface with Upper Layer”  and adding as a new first para in S10: “This whole section is for Information and does not form part of the standards track text.”

Secondly, the substantive issue as I understand it is that the text in 4896 Section 10 doesn’t align with RFC6458. It seems that implementations actually follow what 6458 says (ie Section 10 is wrong), in that an SCTP stack can use multiple paths during the association setup and not only after it has been established. There are at least 4 ways we could deal with this:
[1] Leave 4896 unaltered. It remains an exercise for the reader to discover the contradiction with 6458, and that 6458 is right.
[2] Alter 6458 so it matches what 4896 says. Update implementations to match.
[3] Modify 4896’s ASSOCIATE primitive to take multiple address parameters
[4] Add some explanatory text in 4896, but don’t alter the ASSOCIATE primitive.

Personally I don’t like #1 and #2 ; would be happiest with #3; if not #3, could live with #4.  

#3 would need the following change:-
In Section 10.1 B) Associate, adjust the Format of ASSOCIATE:
destination transport addr  =>  destination transport addr list

and some explanatory text on these lines added at the end of the sub-section:-

After the ASSOCIATE triggers the sending of an INIT chunk, if no response is received before the T1-init timer expires, then an implementation MAY / SHOULD (*) choose immediately to try to ASSOCIATE on one of the other addresses in sctp_connectx(), instead of re-trying to ASSOCIATE on the same address. It is implementation dependent when the SCTP stack gives up on one address and instead tries to set up the association using another address in the list. Note that the maximum number of re-tries (sinit_max_attempts or Max.Init.Retransmits) applies to the total number of attempts using any of the addresses. 

(*) perhaps SHOULD is better if this corresponds to what the implementations actually do? (ie they only make one INIT attempt on each address).

Approach #4 would just have some explanatory text on these lines (added at the end of the sub-section B) Associate in Section 10.1):-

Note that sctp_connectx() includes a *list* of destination transport addresses to be used to attempt to set up an SCTP association with a peer (RFC6458, Section 9.9, Informational document), whereas the text in this section defines the ASSOCIATE primitive as a request to set up a connection to a *single* destination transport address. This difference is resolved in the following manner.
After the ASSOCIATE triggers the sending of an INIT chunk, if no response is received before the T1-init timer expires, then an implementation MAY choose immediately to re-try to ASSOCIATE on one of the other addresses in sctp_connectx(), instead of re-trying to ASSOCIATE on the same address. Currently implementations have followed this approach. Note that the maximum number of re-tries (sinit_max_attempts or Max.Init.Retransmits) applies to the total number of attempts using any of the addresses.

--
Finally, to respond to one of Randall’s comments:
<< Timers in general are per-path, but the T1-init timer *does not have to be*. In the case of data, yes, its definitely per-path>>
I’m not sure I agree with this, since 4896 says:  
<< Note: T1-init timer and T1-cookie timer shall follow the same rules given in Section 6.3.>>
And Section 6.3 (about RTO) says <<When an endpoint's peer is multi-homed, the endpoint will calculate a separate RTO for each different destination transport address of its peer endpoint.>>


We can go with [3]. I'll propose a text change here when I integrated all changes from the errata document.

I have always hated section 10..

I am all for adding glowing warnings that this text is not normative (I thought we
had something like that in the beginning..

And +1 to option [3]

R

> On May 31, 2019, at 2:39 AM, Michael Tüxen <notifications@github.com> wrote:
> 
> We can go with [3]. I'll propose a text change here when I integrated all changes from the errata document.
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub, or mute the thread.
> 

------
Randall Stewart
rrs@netflix.com





I think https://github.com/sctplab/rfc4960bis/pull/74 addresses this issue.
@PBWilks @PhilipEardley @MaximProshin @stewrtrs : OK for you?

@tuexen , if we go for option 3 then Section 10 should also be updated and I don't see changes. 
Also one minor suggestion:
"Retransmissions
of INIT chunks and COOKIE ECHO chunk SHOULD use all addresses of the peer
similar to retransmissions of DATA chunks."
=>
"Retransmissions
of INIT chunks and COOKIE ECHO chunk**s** SHOULD use all addresses of the peer
similar to retransmissions of DATA chunks."
(COOKIE ECHO chunk => COOKIE ECHO chunk**s**)

@MaximProshin Good point. Missed that when changing the document at the airplane. Should be fixed with the latest commits.

@tuexen , now it looks good for me.

@MaximProshin Thanks.

@PBWilks @PhilipEardley: Are you fine with #74?

Michael, sorry for the delay in responding, I have the following comment.

In a multihomed scenario, suppose we start by sending an INIT chunk to address A. No response is received before the T1-init timer expires. We send INIT to address B. Now a “late” response is received on A. Should we act on this, or should we discard it? The behaviour should be documented. 
The same should also be considered for Cookie Echo


A retransmit timer would never interfere with your processing
a response to an INIT. Timers and timeouts would not change
anything. The implementation must always be aware that it may
be in a situation where the timeout it estimated was incorrect (the
case you mention here is a mis-estimation of the timeout.. the RTT
is much longer than the sender “guessed”).

I don’t really see that this needs to be documented. Its the same in
TCP or any other connection setup scenario.

R

> On Jan 13, 2020, at 9:14 AM, PBWilks <notifications@github.com> wrote:
> 
> Michael, sorry for the delay in responding, I have the following comment.
> 
> In a multihomed scenario, suppose we start by sending an INIT chunk to address A. No response is received before the T1-init timer expires. We send INIT to address B. Now a “late” response is received on A. Should we act on this, or should we discard it? The behaviour should be documented.
> The same should also be considered for Cookie Echo
> 
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub, or unsubscribe.
> 

------
Randall Stewart
rrs@netflix.com





I merged #74. This fixes the issue in my view. So closing this.