Issue with cwnd Degradation due to Max.Burst

4.1 Description of the Problem:

Some implementations were having degradation of cwnd because of the Max.Burst limit. This was due to misinterpretation of the suggestion in RFC4960, Section 6.1, how to use the Max.Burst parameter when calculating the number of packets to transmit.  

Another related issue with Max.Burst is when to apply the limit. The example in the RFC refers to the output routine while it may be called for each send request from the ULP. Following this approach from the example, SCTP may aggressively send data. On the other hand it was intended that the limit should be applied before the arrival of the SACK but the RFC does not specify it.

4.2 Text Changes to the Document:
---
## Old text (Section 6.1):

D) When the time comes for the sender to transmit new DATA chunks, the protocol parameter Max.Burst SHOULD be used to limit the number of packets sent.  The limit MAY be applied by adjusting cwnd as follows:

```
if ((flightsize + Max.Burst*MTU) < cwnd)
    cwnd = flightsize + Max.Burst*MTU
```

Or it MAY be applied by strictly limiting the number of packets emitted by the output routine.
---
## New text (Section 6.1):

D) When the time comes for the sender to transmit new DATA chunks, the protocol parameter Max.Burst SHOULD be used to limit the number of packets sent.  The limit MAY be applied by adjusting cwnd as follows:

```
if((flightsize + Max.Burst*MTU) < cwnd) 
    cwnd = flightsize + Max.Burst*MTU
```

Or it MAY be applied by strictly limiting the number of packets emitted by the output routine.
When calculating the number of packets to transmit and particularly using the formula above, cwnd SHOULD NOT be changed.


The changes were made in https://github.com/sctplab/rfc4960bis/pull/57


Manually merged in https://github.com/sctplab/rfc4960bis/commit/281ec8e9de8004b885a34a8f8a855f8e7c98d6e0.
