Circumventing SWS without bundling of outgoing DATA chunks?

Rule A) of Section 6.1. states that "The sender MUST also have an algorithm for sending new DATA chunks to avoid silly window syndrome (SWS) as described in [RFC0813]. The algorithm can be similar to the one described in Section 4.2.3.4 of [RFC1122]." However, Section 6. states that "The fragmentation and bundling mechanisms, as detailed in Section 6.9 and Section 6.10, are OPTIONAL to implement by the data sender".

Which mechanisms can be used to solve the SWS in an implementation that does not implement DATA chunks bundling? A Nagle-like algorithm as recommended does not seem to fit the bill as it is based on buffering up to 1 MSS before sending. SCTP being message-oriented, it sounds like we would need to bundle DATA chunks into a single packet to avoid SWS.


An SCTP implementation not supporting bundling (which I haven't seen so far) could still implement the receiver side SWS avoidance algorithm described in [4.2.3.3](https://tools.ietf.org/html/rfc1122#section-4.2.3.3).